@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&display=swap');
body{
    background-color:whitesmoke;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}
.covidheading{
    color: black;
}
.card{
    box-shadow: 1px 2px 2px 0.5px gray;
    border-style: none;
    border: none;
    border-radius: 0;
}
.title{
    background-color: #0C2D48;
    color: white;
        box-shadow: 0px 1px 1px 1px #0C2D48;

}
.case{
    display: flex;
    justify-content: center;
    align-self: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.case .card-text{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    font-weight: 500;
}
.death{
    display: flex;
    justify-content: center;
    align-self: center;
}
.death .card-text{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nav-item{
    color:#0C2D48;
    font-weight: 700;
}
.Covidcontiner{
    background-color: #80d1ef;
    
}
.covidheading{
    font-size: 30px;
    color: #bc3b14;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* covidSearch */


.parent_div{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.child_div{
    width: 50vw;
    height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.boxContainer{
    width: 100vw;
    height: 60vh;
    background-color: #91cc98;
}
.inputField{
    margin-top: 5%;
    width: 20vw;
    height: 5vh;
}
.btn{
    width: 20vw;
    height: 5vh;
    border-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 500;
}
.searchResult{
    background-color: #d1e0d8

    ;
    width: 20vw;
    height: 30vh;
}
.fa-hospital{
color: #75001c;
}
.cityName{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.covidState{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 30px;
    color: #100642;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;

}
/* nanabr */
.navbar{
    width: 100vw;
    background-image: linear-gradient(-90deg, #d38312, #a83279);
    box-shadow: 0px 2px 5px 0.5px #004d40 ;
}
.navbar-brand{
    color: white;
}
.nav-list{
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;

}
.navbar-nav{
    padding-right: 2rem;
    
}
/* homepage */
.homePage{
background-image: linear-gradient(-90deg, #009688, #00796b);
width: 100vw;
height: 65vh;
}
.developerProfile{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}
.image{
    background-color:#004d40;
    box-shadow: 1px 1px 5px 0.5px #004d40;


}
.myName{
    margin-top: 6%;
    
    
}
.logo{
    width: 50%;
    height: 60%;
    margin-top: 10%;
    transform: translate(0%, 0%);
    animation: rotateImg 1.5s infinite linear; 
}
 @keyframes rotateImg {
    0%{
        transform: translate(linear) rotate(0deg);
    }
   
    100%{
        transform: translate(0%, 0%) rotate(360deg);
    }
} 
/* .section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */


.fa-sharp{
    color: #801f18;
}
/* footerpage */
.footer{
    width: 100vw;
    height: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0f0326;

    
}
/* .LinkedIn{
    margin-left: 5%;
} */
.MyliPro{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    padding: 0.2rem;
}


.visitbtn{
    margin-top: 2rem;
    padding-top: 1%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1%;
    background-color: #b59a65;
    text-decoration: none;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 2px 1px #004d40;
    
}
.fa-brands{
    color: white;
    }
/* for home page */
@media (max-width:500px){
    .body{
        overflow-x: hidden;

    }
    .section{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
        
    }
    .myName{
        background-color: white;
        margin-top: 0;
    }
    .image{
         background-color:#004d40;
         order: 1;
         width: 100vw;
    }
    .developerProfile{
        font-size: 15px;

    }
    .visitbtn{
        margin-top: 2px;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 15px;

    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
    .MyliPro{
        padding: 0;
    
    }
    /* coviditem2nd page */


    
    /* covidSerch */
    .covidState{
        font-size: 15px;
        padding: 1rem;
        font-weight: 500;
        color: #250000;
    }
    .child_div{
        width: 100vw;
        
    }
    .inputField{
        width: 80vw;
    }
    .searchResult{
        width: 80vw;
        background-color: whitesmoke;
    }
    .fa-hospital{
        color: black;
    }
    .nav-list{
        padding: 0;
    }
    .covidheading{
       font-size: 15px;  
}    
}
 /* for serachItem page */
       


